<!DOCTYPE html>
<html>
<head></head>
	<title>top page</title>
	<meta htt--equiv="Content-Type"
		content="text/html; charset=UTF-8" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		rel="stylesheet" >
</head>
<body class =container"">
<!--	<h1 class="display-4 mb-4">Hello page</h1>-->
<!--	<p class="msg">this is sample page.</p>-->
	
<!--	<h1 class="display-4 mb-4">Hello page</h1>-->
<!--	<p th:text="${msg}"></p>-->

<!--	<h1 class="display-4 mb-4">Hello page</h1>-->
<!--	<p th:text="${msg}"></p>
<!--	<p class="h6 alert alert-primary"th:text="${content}"></p>-->

<!--	<h1 class="display-4 mb-4">Hello page</h1>-->
<!--	<p th:text="${msg}"></p>	-->
<!--	<div class="h6 alert alert-primary">-->
<!--		<form method="post" action=".">-->
<!--			<input type="text" class="form-control me-1"-->
<!--				name="text1" th:value="${value}" />-->
<!--			<span class="input-group-btn">-->
<!--				<input type="submit" class="btn btn-primary px-4"-->
<!--					value="Click" />-->
<!--			</span>-->
<!--		</form>-->
<!--	</div>-->

<!--	<h1 class="display-4 mb-4">Hello page</h1>-->
<!--	<p th:text="${msg}"></p>-->
<!--	<div class="h6 alert alert-primary">-->
<!--		<form method="post" action=".">-->
<!--			<div class="my-2">-->
<!--				<input class="form-check-input" type="checkbox" name="check1" />-->
<!--				<label class="form-check-label" for="check1" name="check1">チェック</label>-->
<!--			</div>-->
<!--			<div class="my-2">-->
<!--				<input class="form-check-input" type="radio" name="radio1" value="male" />-->
<!--				<label class="form-check-label" for="radioA" >男性</label>-->
<!--			</div>-->
<!--			<div class="my-2">-->
<!--				<input class="form-check-input" type="radio" name="radio1" value="female" />-->
<!--				<label class="form-check-label" for="radioB" >女性</label>-->
<!--			</div>-->
<!--			<div class="my-2">-->
<!--				<select class="form-select" name="select1" size="1" />-->
<!--					<option value="Windows">Windows</option>-->
<!--					<option value="Mac">Mac</option>-->
<!--					<option value="Linux">Linux</option>-->
<!--				</select>-->
<!--			</div>-->
<!--			<div class="my-2">-->
<!--				<select class="form-select" name="select2" size="4" multiple="multiple" />-->
<!--					<option value="Android">Android</option>-->
<!--					<option value="iphone">iPhone</option>-->
<!--					<option value="Winfone">Windows Phone</option>-->
<!--				</select>-->
<!--			</div>-->
<!--			<input class="btn btn-primary" type="submit" value="Click" />-->
<!--		</form>-->
<!--	</div>-->
	
<!--	<h1 class="display-4 mb-4">Hello page</h1>-->
<!--	<div class="h6 alert alert-primary">-->
<!--		<p th:text="${msg}"></p>-->
<!--	</div>-->
	
<!--	<h1 class="display-4 mb-4">Hello page</h1>-->
<!--	<div class="alert alert-primary" th:if="${flag}">-->
<!--		<h5>Alert</h5>-->
<!--		<p th:text="${msg}"></p>-->
<!--	</div>-->
<!--	<div class="card" th:unless="${flag}">-->
<!--		<div class="card-body">-->
<!--			<h5 class="card-title">Message</h5>-->
<!--			<p class="card-text" th:text="${msg}"></p>-->
<!--		</div>-->
<!--	</div>	-->
	
<!--	<h1 class="display-4 mb-4">Hello page</h1>-->
<!--	<p th:text="${msg}"></p>-->
<!--	<ul class="list-group" th:each="item:${data}">-->
<!--		<li class="list-group-item" th:text="${item}"></li>-->
<!--	</ul>-->

<!--	<h1 class="display-4 mb-4">Hello page</h1>-->
<!--	<p th:text="${msg}"></p>-->
<!--	<div th:switch="${month}">-->
<!--		<p class="alert alert-primary" th:case="1"-->
<!--			th:text="${month} + 月は、正月です。"></p>-->
<!--		<p class="alert alert-primary" th:case="2"-->
<!--			th:text="${month} + 月は、冬です。"></p>-->
<!--		<p class="alert alert-primary" th:case="3"-->
<!--			th:text="${month} + 月は、春です。"></p>-->
<!--		<p class="alert alert-primary" th:case="4"-->
<!--			th:text="${month} + 月は、春です。"></p>-->
<!--		<p class="alert alert-primary" th:case="5"-->
<!--			th:text="${month} + 月は、春です。"></p>-->
<!--		<p class="alert alert-primary" th:case="6"-->
<!--			th:text="${month} + 月は、夏です。"></p>-->
<!--		<p class="alert alert-primary" th:case="7"-->
<!--			th:text="${month} + 月は、夏です。"></p>-->
<!--		<p class="alert alert-primary" th:case="8"-->
<!--			th:text="${month} + 月は、夏休みです。"></p>-->
<!--		<p class="alert alert-primary" th:case="9"-->
<!--			th:text="${month} + 月は、秋です。"></p>-->
<!--		<p class="alert alert-primary" th:case="10"-->
<!--			th:text="${month} + 月は、秋です。"></p>-->
<!--		<p class="alert alert-primary" th:case="11"-->
<!--			th:text="${month} + 月は、秋です。"></p>-->
<!--		<p class="alert alert-primary" th:case="12"-->
<!--			th:text="${month} + 月は、師走です。"></p>-->
<!--		<p class="alert alert-primary" th:case="*"-->
<!--			th:text="ごめんなさい、わかりません。"></p>-->
<!--	</div>-->
	
<!--	<h1 class="display-4 mb-4">Hello page</h1>-->
<!--	<p th:text="${msg}"></p>-->
<!--	<pre th:text="${data}"></pre>-->
	
	<h1 class="display-4 mb-4" th:text="${title}"></h1>
	<p th:text="${msg}"></p>
	<form metthod="post" action="/" th:object="${formModel}">
		<div class="mb-3">
			<label for="name" class="form-label">Name</label>
			<input type="text" class="form-control"
				name="name" th:value="*{name}" />
		</div>
		<div class="mb-3">
			<label for="name" class="form-label">Mail</label>
			<input type="text" class="form-control"
				name="mail" th:value="*{mail}" />
		</div>
		<div class="mb-3">
			<label for="name" class="form-label">Age</label>
			<input type="number" class="form-control"
				name="age" th:value="*{age}" />
		</div>
		<div class="mb-3">
			<label for="name" class="form-label">Memo</label>
			<textarea type="text" class="form-control"
				name="memo" th:value="*{memo}" ></textarea>
		</div>
		<input type="submit" class="btn btn-primary" value="Create" ></input>
	</form>
	<table class="table">
		<thead>
			<tr><th>ID</th><th>Name</th><th>Mail</th><th>Age</th></tr>
		</thead>
		<tbody>
			<tr th:each="item : ${data}">
				<td th:text="${item.id}"></td>
				<td th:text="${item.name}"></td>
				<td th:text="${item.mail}"></td>
				<td th:text="${item.age}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>