<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--	<title>top page</title>-->
<!--	<meta htt--equiv="Content-Type"-->
<!--		content="text/html; charset=UTF-8" />-->
<!--	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"-->
<!--		rel="stylesheet" >-->
<!--</head>-->
<!--<body class="container">-->
<!--	<h1 class="display-4">Flux page</h1>-->
<!--	<p class="msg">This is Sample WebFlux page!!</p>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title th:text="${title}"></title>
	<meta htt--equiv="Content-Type"
		content="text/html; charset=UTF-8" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		rel="stylesheet" >
</head>
<body class="container">
	<h1 class="display-4" th:text="${title}"></h1>
	<p class="msg" th:text="${msg}"></p>
</body>
<body class="container">
	<h1 class="display-4" th:text="${title}"></h1>
	<p class="msg" th:text="${msg}"></p>
</body>
</html>